<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>海大体育馆管理系统</title>
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/axios-0.18.0.js"></script>
    <style>
        .el-main {
            position: absolute;
            top: 70px;
            bottom: 0;
            left: 200px;
            right: 10px;
            padding: 0;
        }
    </style>
</head>
<body class="hold-transition skin-purple sidebar-mini">
<div id="app">
    <el-container>
        <el-header class="main-header" style="height:70px;">
            <nav class="navbar navbar-static-top">
                <a href="#" class="logo" style="text-align:center">
                    <span class="logo-lg"><img src="../img/log1.png" style="height:30px;width:30px;"></span>
                </a>
                <div class="right-menu">
                    <span class="help"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> 帮助</span>
                    <el-dropdown class="avatar-container right-menu-item" trigger="click">
                        <div class="avatar-wrapper">
                            <span>欢迎，{{ username }}！</span>
                            <img src="../img/user2-160x160.jpg" class="user-avatar">
                        </div>

                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item
                                    v-for="(action, index) in loginOrProfileActions"
                                    :key="index"
                                    :divided="index !== 0"
                                    @click.native="action.title === '登出' ? switchUser() : logout()"
                            >
                                {{ action.title }}
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </div>
            </nav>
        </el-header>
        <el-container>
            <el-aside width="200px">
                <el-menu>
                    <el-submenu
                            v-for="(menu, menuIndex) in filteredMenu"
                            :key="menuIndex"
                            :index="menu.path"
                    >
                        <template slot="title">
                            <i class="fa" :class="menu.icon"></i>
                            {{ menu.title }}
                        </template>
                        <el-menu-item
                                v-for="(child, childIndex) in menu.children"
                                :key="childIndex"
                                :index="child.path"
                        >
                            <a :href="child.linkUrl" target="right">{{ child.title }}</a>
                        </el-menu-item>
                    </el-submenu>
                </el-menu>
            </el-aside>
            <el-container>
                <iframe
                        name="right"
                        class="el-main"
                        src="orderSetting.html"
                        width="100%"
                        height="580px"
                        frameborder="0"
                ></iframe>
            </el-container>
        </el-container>
    </el-container>
</div>

<!-- 脚本引入 -->
<script src="../js/vue.js"></script>
<script src="../plugins/elementui/index.js"></script>
<script src="../js/jquery.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                username: '游客请登录',
                account: null,
                roleId: 0,
                isLoggedIn: false,
                filteredMenu: [
                ],
                menuList: [
                    {
                        "path": "1",
                        "title": "工作台",
                        "icon":"fa-dashboard",
                        "children": [

                        ]
                    },
                    {
                        "path":"2",
                        "title":"场地管理",
                        "icon":"fa-dashboard",
                        "children": [
                            {
                                "path": "/2-1",
                                "title": "场地信息管理",
                                "linkUrl":"setField.html"
                            },
                            {
                                "path": "/2-2",
                                "title": "场地预约",
                                "linkUrl":"orderField.html"
                            },
                            {
                                "path":"/2-3",
                                "title":"场地预约管理",
                                "linkUrl":"fieldOrderSetting.html"
                            }
                        ]
                    },
                    {
                        "path": "3",
                        "title": "赛事管理",
                        "icon":"fa-tty",
                        "children": [
                            {
                                "path": "/3-1",
                                "title": "赛事列表",
                                "linkUrl":"competition.html",
                                "children":[]
                            },
                            {
                                "path": "/3-2",
                                "title": "赛事类型管理",
                                "linkUrl":"competition_type.html",
                                "children":[]
                            },
                            {
                                "path": "/3-3",
                                "title": "赛事公告管理",
                                "linkUrl":"competition_notice.html",
                                "children":[]
                            },
                            {
                                "path": "/3-4",
                                "title": "赛事查询",
                                "linkUrl":"competition_query.html",
                                "children":[]
                            },
                            {
                                "path": "/3-5",
                                "title": "公告管理",
                                "linkUrl":"notice.html",
                                "children":[]
                            },
                        ]
                    },
                    {
                        "path": "5",
                        "title": "权限功能",
                        "icon":"fa-heartbeat",
                        "children":[
                            {
                                "path": "/5-1",
                                "title": "用户管理",
                                "linkUrl":"manageusers.html",
                                "children":[]
                            },
                            {
                                "path": "/5-2",
                                "title": "管理员管理",
                                "linkUrl":"managementadmin.html",
                                "children":[]
                            },
                        ]
                    }
                ]
            };
        },
        computed: {
            loginOrProfileActions() {
                return this.isLoggedIn
                    ? [
                        { title: '登出', linkUrl: 'main.html' },
                    ]
                    : [{ title: '登录', linkUrl: 'login.html' }];
            },

        },
        created() {
            console.log("Creating Vue instance...");
            console.log(this.$data);
            // 直接从localStorage获取用户名并设置到account
            this.username = localStorage.getItem('username') || '';
            this.account = localStorage.getItem('account') || '';
            this.roleId = localStorage.getItem('roleId') || '0';

            // 根据roleId过滤菜单
            this.filterMenuByRoleId(this.roleId);
            console.log(`roleId from localStorage: ${this.roleId}`);

            // 简单假设有account即为已登录
            this.isLoggedIn = Boolean(this.username);
            console.log(`isLoggedIn set to: ${this.isLoggedIn}`);
        },
        methods: {
            switchUser() {
                // 切换用户逻辑，与之前讨论一致
                localStorage.removeItem('token');
                localStorage.removeItem('username');
                localStorage.removeItem('roleId');
                this.username = '';
                window.location.href = 'main.html';
            },
            logout() {
                // 如果需要特定的登出处理，可以在这里添加
                // 例如，发送登出请求给服务器等
                localStorage.removeItem('token');
                localStorage.removeItem('username');
                localStorage.removeItem('roleId');
                this.username = '';
                window.location.href = 'login.html'; // 或其他登出后的重定向页面
            },
            // 根据roleId过滤菜单
            filterMenuByRoleId(roleId) {
                let filteredMenu;

                console.log("Start filtering, menuList:", this.menuList);
                console.log(`Filtering menu by roleId: ${roleId}`);
                roleId = parseInt(roleId, 10);
                console.log(typeof roleId)
                switch (roleId) {
                    case 0: // roleId为0时，允许访问路径为'1', '2', '3'的菜单项
                        filteredMenu = this.menuList.filter(menu => {
                            console.log(`Checking menu with path ${menu.path}`);
                            const isAllowed = ['1', '2', '3'].includes(menu.path);
                            console.log(`Path ${menu.path} is included? ${isAllowed}`);
                            return isAllowed;
                        });
                        break;
                    case 1: // roleId为1时，去除权限功能及其子项
                        filteredMenu = this.menuList.filter(menu => menu.path !== '5');
                        break;
                    case 2: // roleId为2时，保留所有菜单但去除管理员管理子项
                        // 复制menuList以避免直接修改原数组
                        filteredMenu = JSON.parse(JSON.stringify(this.menuList));
                        // 查找path为'5'的菜单项（权限功能）
                        const adminMenu = filteredMenu.find(menu => menu.path === '5');
                        if (adminMenu && adminMenu.children) {
                            // 过滤掉path为'/5-2'的子项（管理员管理）
                            adminMenu.children = adminMenu.children.filter(child => child.path !== '/5-2');
                        } else {
                            console.warn("Menu with path '5' not found or has no children.");
                        }
                        break;
                    case 3: // roleId为3的用户可以看到所有菜单
                        filteredMenu = this.menuList;
                        break;
                    default:
                        // 默认情况下，如果没有匹配的roleId处理逻辑，可以展示空菜单
                        console.warn("Unexpected roleId encountered:", roleId);
                }

                // 将过滤后的菜单赋值给data中的menuList
                this.filteredMenu = filteredMenu;
                this.$nextTick(() => {
                    console.log("After filtering in nextTick, filteredMenu:", this.filteredMenu);
                });

            }
        }
    });

    // 页面加载时调整容器宽度
    $(function() {
        const wd = 200;
        $('.el-main').css('width', `calc(100% - ${wd}px)`);
    });
</script>
</body>
</html>